.sidebar-button {
    width: 90%;
    height: 44px;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 0 12px;
    margin: 4px 0;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-dim);
    transition: all 0.2s ease;
    gap: 12px;
}

.sidebar-button span {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-dim);
    transition: color 0.2s ease;
}

.sidebar-button:hover {
    background-color: var(--primary-600);
    color: var(--text-main);
}

.sidebar-button:hover span {
    color: var(--text-main);
}

.sidebar-button:active {
    transform: scale(0.98);
}

.sidebar-icon {
    font-size: 20px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
}

.sidebar-button:hover .sidebar-icon {
    color: var(--text-main);
}
